body
{
margin: 0px;    
}

.product{
    padding: 0px;
    height: 120px;
    border-bottom: 1px solid #ddd;
}

.product .left{
    display: table-cell;
    width: 110px;
    background-color: #fff;
    vertical-align: top;
    padding: 5px;
}

.product .left img
{
    width: 100px;
    height: 100px;
}

.product .right{
    display: table-cell;
    background-color: #fff;
    vertical-align: top;
    padding: 5px;
}

.product .right .title{
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.6;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    margin: 0px;
}

.product .right .desc{
    font-style: normal;
    font-size: 12px;
    line-height: 1.4;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    margin: 0px;
    color: #8b8989;
}

.product .right .price
{
    margin-top: 10px;
    color: red;
    font-size: 16px;
}

.newBook .product .right
{
   background-image: url('/content/images/new.png');
   background-position-x: 98%;
   background-repeat: no-repeat;
   background-size: 25px 25px;
}